:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(var(--v-theme-font), 0.87);
  background-color: rgb(var(--v-theme-background));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(var(--v-theme-secondary));
  text-decoration: inherit;
}
a:hover {
  color: rgb(var(--v-theme-secondary-hover));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  width: 800px;
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.a-primary {
  color: rgb(var(--v-theme-primary)) !important;
}

.a-primary:hover {
  color: rgb(var(--v-theme-primary-hover)) !important;
}

.v-card {
  background-color: rgb(var(--v-theme-surface));
  border-radius: var(--v-var-radius);
  margin-bottom: var(--v-space-micro);
}

@media screen and (max-width: 800px) {
  #app {
    padding: 0;
    padding-top: 50px;
    width: 100%;
    max-width: 100%;
  }
}